.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    width: 100%;
  }
  
  .movie {
    width: 200px; /* Ancho deseado para cada película */
    margin-right: 20px; /* Espacio entre las películas */
  }
  
  .movie img {
    width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
  }
  
  .premiere-poster{
    padding: 18px;
  }

  .image-genre{
    border-radius: 8px;
  }

  .title-container{
    padding-top: 7rem;
    padding-left: 2.5rem;
  }

  .genre-title{
    color: rgb(134, 21, 183);
    font-size: 1.9rem;
  }

  .loading {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
}

.load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #8415b7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-more:hover {
    background-color: #5a0e7b;
}