.section-container {
    background-color: black;
    padding: 50px 0;
    margin-top: 50px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  
  .icon-container{
    display: flex;
    justify-content: s;
    gap: 30px;
  }

  .icon-item{
    align-items: center;
  }

  .section-icon {
    color: rgb(134, 21, 183);
    font-size: 3rem;
    margin-bottom: 10px;

  }
  
  .section-text {
    color: white;
    font-size: 1rem;
  }

 /* PREMIERE */
 .premiere-container {
    padding: 50px 20px;
  }
  
  .premiere-posters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .premiere-poster img {
    width: 200px;
    height: auto;
    cursor: pointer;
  }

  /* FAVORITE */
  .favorite-container {
    padding: 20px;
  }
  
  .favorite-posters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta el espacio entre las columnas */
  }
  
  .favorite-poster {
    flex: 0 0 calc(20% - 20px); /* Ajusta el ancho de cada póster */
    margin-bottom: 20px; /* Espacio entre los pósters */
  }
  
  .favorite-poster img {
    width: 100%;
    cursor: pointer;
  }


/* MARATON */
.marathon-container {
  padding: 20px;
}

.saga-container {
  margin-bottom: 30px;
}

.movie-items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.movie-item {
  margin-right: 20px;
  text-align: center;
  width: max-content;
}

.movie-item img {
  width: 150px;
  height: auto;
}

.movie-item p {
  margin-top: 5px;
  font-size: 14px;
  overflow: hidden;
  white-space: normal; /* Permitir múltiples líneas de texto */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.scroll-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.scroll-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.scroll-button.left {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 10px; /* Añadir margen entre las flechas */
}

.scroll-button.right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px; /* Añadir margen entre las flechas */
}


