.section-container {
  background-color: black;
  padding: 50px 0;
  margin-top: 50px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.section-icon {
  color: rgb(134, 21, 183);
  font-size: 3rem;
  transition: transform 0.3s ease-out; /* Agregamos una transición para el efecto hover */
}

.section-text {
  color: white;
  font-size: 1rem;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-out; /* Transición para el efecto hover */
}

.icon-item:hover {
  transform: translateY(-10px); /* Movimiento hacia arriba al hacer hover */
}


 /* PREMIERE */
 .premiere-container {
    width: 100%;
  }
  
  .premiere-posters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ajusta la alineación horizontal */
    gap: 8px; /* Espacio entre los pósters */
    width: 100%;
  }

  .premiere-poster{
    width: 230px;
  }
  
  .premiere-poster img {
    width: 100%; /* Ajusta el ancho de la imagen */
    cursor: pointer;
  }


/* FAVORITE */
.favorite-container {
  padding: 0px !important;
}

.favorite-posters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Ajusta la alineación horizontal */
  gap: 10px; /* Espacio entre los pósters */
  padding-top: 1.5rem;
}

.favorite-poster {
  width: 200px; /* Ancho deseado para cada película */
  margin-right: 20px; /* Espacio entre las películas */
  margin-bottom: 20px; /* Espacio entre los pósters */
}

.favorite-poster img {
  width: 100%; /* Ajusta el ancho de la imagen */
  cursor: pointer;
}

.title-container{
  padding-left: 2.5rem;
  flex-direction: column;
}

.genre-title{
  color: rgb(134, 21, 183);
  font-size: 1.9rem;
  text-align: center;
}





/* MARATON */
.marathon-container {
  padding: 0;
}

.saga-container {
  margin-bottom: 0;
  
}

.movie-items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding-top: 2rem;
}

.movie-item {
  margin-right: 20px;
  text-align: center;
  width: max-content;
}

.movie-item img {
  width: 200px;
  height: auto;
}

.movie-item p {
  margin-top: 5px;
  font-size: 14px;
  overflow: hidden;
  white-space: normal; /* Permitir múltiples líneas de texto */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.scroll-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.scroll-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.scroll-button.left {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 10px; /* Añadir margen entre las flechas */
  color: #8415b7;
}

.scroll-button.right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px; /* Añadir margen entre las flechas */
  color: #8415b7;
}

.title-container{
  padding-top: 2rem;
  padding-left: 1.8px;
  color: white;
}

.genre-title{
  color: rgb(134, 21, 183);
  font-size: 1.9rem;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #8415b7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more:hover {
  color: white;
}

/* LISTAFAVS */
.list-container{
  padding-top: 115px;
  padding-left: 50px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.list-title {
  color: #8415b7;
  font-size: 1.6rem;
}

.list-no-list{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorites-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}

.favorite-movie{
  width: 200px;
  text-align: center;
}

.favorite-movie img{
  width: 100%;
  height: auto;
}

.list-img{
  border-radius: 10px;
  cursor: pointer;
}