.footer-container {
    background-color: black;
    color: white;
    padding: 38px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
  }
  
  .footer-icon {
    margin: 0 10px; /* Espacio entre los iconos */
    font-size: 24px; /* Tamaño de los iconos */
  }
  
  
  .footer-icons a {
    color: white;
    margin-right: 10px;
  }

  .footer-icon :hover{
    color: rgb(134, 21, 183);
  }
  
  .footer-text p {
    margin: 0;
  }

  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100; /* Asegura que el footer esté encima de otros contenidos */
  }